# This is a basic workflow to help you get started with Actions

name: OWASP ZAP Full Scan

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: main
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.3.0
        with:
          docker_name: 'owasp/zap2docker-stable'
          target: 'https://b34rd.tech/'
